<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#ほしいプロダクトのidを取得する" data-toc-modified-id="ほしいプロダクトのidを取得する-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>ほしいプロダクトのidを取得する</a></span></li><li><span><a href="#TYの1年間の四本値を取得" data-toc-modified-id="TYの1年間の四本値を取得-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>TYの1年間の四本値を取得</a></span></li><li><span><a href="#TD-sequentialの取得" data-toc-modified-id="TD-sequentialの取得-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>TD sequentialの取得</a></span><ul class="toc-item"><li><span><a href="#まずは1個" data-toc-modified-id="まずは1個-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>まずは1個</a></span></li><li><span><a href="#複数" data-toc-modified-id="複数-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>複数</a></span></li></ul></li></ul></div>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime, timedelta

In [2]:
### Google Colab上で実行する場合は、
### tomdemark.pyからget_tdsequential, plot_tdseqを、
### investingcom_scraper.pyからget_historicalを、
### それぞれコピペ

from tomdemark import get_tdsequential, plot_tdseq
from investingcom_scraper import get_historical

# ほしいプロダクトのidを取得する
`investing.com`から四本値を取得するために、`investing.com`上の`id`を指定する必要があるので、それを探す

`id`がすでにわかっている場合は、ここを飛ばすことができる

In [3]:
### Google Colab上で実行する場合は、
### investingcom_scraper.pyからsearch_id_candidatesを、
### コピペ

from investingcom_scraper import search_id_candidates

`search_id_candidates('クエリ')`で、ほしいプロダクトを検索できる

In [4]:
search_id_candidates('US 10 year T Note')

8880 +++ TY +++ US 10 Year T-Note Futures
958107 +++ TYVIX +++ CBOE/CBOT 10-year US Treasury Note Volatility

[<investpy.utils.search_obj.SearchObj at 0x7ffe7c75c8d0>,
 <investpy.utils.search_obj.SearchObj at 0x7ffe7c75c908>]

これで、TYの`id`は`8880`であることがわかる

# TYの1年間の四本値を取得

In [6]:
df_ex_weekend = get_historical(
    id_=8880,
    from_date=datetime(2020, 3, 9),
    to_date=datetime(2021, 3, 9),
    force_exclude_weekend=True
)

df_in_weekend = get_historical(
    id_=8880,
    from_date=datetime(2020, 3, 9),
    to_date=datetime(2021, 3, 9),
    force_exclude_weekend=False
)

In [7]:
df_ex_weekend.tail()

        Date    Open    High     Low   Close
4 2021-03-03  134.73  134.73  133.95  134.14
3 2021-03-04  134.06  134.28  133.48  133.50
2 2021-03-05  133.44  133.63  132.88  133.45
1 2021-03-08  133.14  133.22  132.94  132.98
0 2021-03-09  131.90  132.38  131.87  132.26

休日を強制排除する

In [8]:
print(len(df_ex_weekend))
print(len(df_in_weekend))

261
265

In [9]:
print('除かれた日')
set(df_in_weekend['Date']) - set(df_ex_weekend['Date'])

除かれた日

{Timestamp('2020-05-24 00:00:00'),
 Timestamp('2020-09-06 00:00:00'),
 Timestamp('2021-01-17 00:00:00'),
 Timestamp('2021-02-14 00:00:00')}

# TD sequentialの取得

## まずは1個

In [ ]:
name, invcom_id = 'TY', 8880

df = get_historical(
    id_=invcom_id,
    from_date=datetime(2020, 9, 9),
    to_date=datetime(2021, 3, 9),
    force_exclude_weekend=True,
    dateCol_be_str=True
)
t, o, h, l, c, shortVal, longVal, sellVal, buyVal = get_tdsequential(df)
plot_tdseq(t, o, h, l, c, shortVal, longVal, sellVal, buyVal, 
           ylabel=name, figshow=True)

## 複数

In [ ]:
wanted_investingcom_ids = {
    'US': 8907,
    'TY': 8880,
    'FV': 8905,
    'TU': 8906,
    'Buxl': 40739,
    'Bund': 8895,
    'Bobl': 8899,
    'Schatz': 8900,
    'OAT': 28719,
    'Gilt': 8886,
    'Spread_US02_US10': 1141794,
    'JGB_Futures': 8986,
    'S&P500_Futures': 8839,
    'Nikkei_Futures': 1097727,
    'USDJPY': 3,
    'EURUSD': 1,
    'USDCNH': 961728
    }

In [ ]:
for name, invcom_id in wanted_investingcom_ids.items():
    df = get_historical(
        id_=invcom_id,
        from_date=datetime(2020, 9, 9),
        to_date=datetime(2021, 3, 9),
        force_exclude_weekend=True,
        dateCol_be_str=True
    )
    t, o, h, l, c, shortVal, longVal, sellVal, buyVal = get_tdsequential(df)
    plot_tdseq(t, o, h, l, c, shortVal, longVal, sellVal, buyVal, 
               ylabel=name, figshow=True)